# 1. DB 접속 정보 및 백업 파일
dbconfig.php
*.sql
*.bak
*.bak2

# 2. 외부 라이브러리 폴더
vendor/
node_modules/

# 3. 사용자 업로드 데이터만 제외 (data 폴더 안만)
data/file/
data/cache/
data/session/
_temp/

# 4. 시스템 파일
.DS_Store
Thumbs.db

# 5. 백업 폴더 제외
**/새 폴더/